a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: lightgreen;
}
.catalogList{
  position: absolute;
  top:150px;
  left:0;
  z-index: 50;
  list-style: none;
}
.card{
  width: 350px;
  height: 500px;
}
header{
  z-index: 30;
  background-color: white;
}
.card-img-top{
  height: 250px;
  width: 280px;
}
.card-img-top:hover{
  position: relative;
  width: 300px;
  height: 280px;
}
.favorite{
  width: 700px;
  min-height: 320px;
}
.cartList{
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
.rounded-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.searchButton{
  top: 3px;
  right: 3px;
}
